<%- include ('../partials/header') %> 
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    <div class="container">
        <!-- THE REST OF YOUR HTML CODE GOES HERE -->
        <main>
            <div class="container">
                <h1 class="text-center">Welcome user: <%= user.username %></h1> 
                <h1 class="text-center">First Name: <%= user.first_name %></h1> <!-- Display stuff -->
                <h1 class="text-center">Last Name: <%= user.last_name %></h1> <!-- Display stuff -->
                <h1 class="text-center">Email: <%= user.email %></h1> <!-- Display stuff -->
                <!-- testing branch-->
            </div>
            

        </main>
          
    
    </div>
</main>

<%- include ('../partials/footer') %>
