<%- include ('../partials/header') %> <%- include ('../partials/menu') %> <%-
include ('../partials/message') %>

<main>
    <div class="container">
        <main>
            <div class="container">
                <h1 class="text-center">Welcome user: <%= user.username %></h1>
                <h1 class="text-center">First Name: <%= user.first_name %></h1>
                <!-- Display stuff -->
                <h1 class="text-center">Last Name: <%= user.last_name %></h1>
                <!-- Display stuff -->
                <h1 class="text-center">Email: <%= user.email %></h1>
                <!-- Display stuff -->
                <!-- testing branch -->
                <!-- Could add password reset option; Would require another page, security question, addition to user table, and new function -->
            </div>
        </main>
    </div>
</main>

<%- include ('../partials/footer') %>
