<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<%- include ('../partials/message') %>

<main>
    Login Successful
    <a href="/search">
        <button type="button" class="btn btn-primary">Test Search</button>
    </a>

    <a href="/account">
        <button type="button" class="btn btn-primary">Account</button>
    </a>
    <!--  <div class="row" style="min-height: 100px;">
        <% videos.forEach(video => { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= video.images[0].url %>" class="card-img-top" alt="Video image">
                    <div class="card-body">
                        <h5 class="card-title"><%= video.name %></h5>
                        <div class="text-center">
                            <a href="<%= video.url %>" class="btn btn-primary">Watch Video</a>
                         </div>
                    </div>
                </div>
            </div>
        <% if ((index + 1) % 3 == 0) { %>
          </div><div class="row">
        <% } %>
      <% }) %>



            <div class="card" style="width: 18rem;">
                <img src="<%= video.snippet.thumbnails.default.url %>" class="card-img-top" alt="">
                <div class="card-body">
                <h5 class="card-title"> <%= video.snippet.title %> </h5>
                </div>
            </div>
            <% }) %>
    </div> --> 
</main>

<%- include ('../partials/footer') %>